@{
    ViewData["Title"] = "Error Page";
}

<div class="text-center">
    <h1 class="display-4">Something went wrong...</h1>
    <p>
        If you see this message, it means something went wrong.<br />
        Please try again, and if the problem persists, contact us at:
        <a href="mailto:serwisy@inmoto.pl" class="s-kontakt-font">serwisy@inmoto.pl</a>
    </p>
    <p>
        You can also go back to the <a href="@Url.Action("Index", "Home")">home page</a> or try to refresh the page.
    </p>
</div>