@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-primary">
                @ViewData["Title"]
            </h1>
        </div>
        <div class="div-12 text-left">
            <h5 class="ml-3">
                Effective Date: 29.06.2024 r.
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="text-secondary">
                Introduction
            </h5>
        </div>
        <div class="col-12">
            <p>
                Welcome to the <i>"Book List"</i> application.
                This privacy policy is intended to inform you about how we collect, use, and protect your information when you use our application.
                <i>"Book List"</i> is a free application created by Łukasz Berger to showcase my skills and the usage of various technologies.
                All materials contained within the application are sourced from the internet or generated online.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="text-secondary">
                Information We Collect
            </h5>
        </div>
        <div class="col-12">
            <p>
                Since <i>"Book List"</i> is a demonstration application, we do not actively collect or store any personal data from users.
                The application is designed for showcasing purposes only and does not require user registration or personal information to function.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
            <div class="col-12">
                <h5 class="text-secondary">
                    Use of Information
                </h5>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <b>Demonstration Purposes</b>: The primary purpose of the <i>"Book List"</i> application is to demonstrate the capabilities and usage of technologies such as ASP.NET Core, Entity Framework, Bootstrap, CSS, AJAX, JS, and jQuery.
                    </li>
                    <li>
                        <b>Non-Personal Data</b>: Any non-personal data collected is solely for the purpose of improving the application and understanding its performance.
                    </li>
                </ul>
            </div>
        </div>
  
        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
            <div class="col-12">
                <h5 class="text-secondary">
                    Sources of Information
                </h5>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <b>Internet Sources</b>: The content, including book titles and other materials, is sourced from the internet.
                    </li>
                    <li>
                        <b>Generated Content</b>: Some content within the application is generated online for demonstration purposes.
                    </li>
                </ul>
            </div>
        </div>
 
        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
            <div class="col-12">
                <h5 class="text-secondary">
                    Data Protection
                </h5>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <b>No Personal Data Collection</b>: As this is a demonstration application, we do not collect or store any personal data from users.
                    </li>
                    <li>
                        <b>Security Measures</b>: Although we do not collect personal data, we still implement standard security measures to protect any data related to the application’s functionality.
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h5 class="text-secondary">
                Third-Party Services
            </h5>
        </div>
        <div class="col-12">
            <p>
                The <i>"Book List"</i> application does not integrate with any third-party services that collect or store personal data.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h5 class="text-secondary">
                Changes to This Privacy Policy
            </h5>
        </div>
        <div class="col-12">
            <p>
                We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy
            </p>
        </div>
    </div>

</div>